{% extends "layouts/template_base.njk" %}

{% block titulo %}Mi Biblioteca - Borrado{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/material-icons.css" />
<link rel="stylesheet" href="/static/css/libros_borrado.css" />
{% endblock %}

{% block contenido %}
<!-- Botones Flotantes -->
<div class="volver" title="Listado"><i class="material-icons">replay</i></div>
<div class="principal" title="Principal"><i class="material-icons">home</i></div>

<!-- Encabezado -->
<header>
  <div class="brand-logo">
    <i class="material-icons md-18">account_balance</i>
  </div>
  <div class="brand-name">Mi Biblioteca</div>
  <div class="account">
    <i class="material-icons">account_box</i>
    <div class="user">
      <i class="material-icons">account_circle</i>
      <div class="user-name"></div>
    </div>
  </div>
</header>

<!-- Principal -->
<main>
  <h1>Borrado de Libro</h1>

  <form class="formulario">
    <input type="hidden" name="id" value="{{ libro.id }}" />
    <div class="titulo-container">
      <label for="titulo">Título</label>
      <input id="titulo" type="text" name="titulo" value="{{ libro.titulo }}" disabled />
    </div>
    <div class="editorial-container">
      <label for="editorial">Editorial</label>
      <input id="editorial" type="text" name="editorial" value="{{ libro.editorial }}" disabled />
    </div>
    <div class="precio-container">
      <label for="precio">Precio</label>
      <input id="precio" type="text" name="precio" value="{{ libro.precio }}" disabled />
    </div>
    <div class="botones-container">
      <button class="borrar" type="button">Borrar</button>
      <button class="cancelar" type="button">Cancelar</button>
    </div>
  </form>
</main>
{% endblock %}

{% block scripts %}
<script src="/static/js/libros_borrado.js"></script>
{% endblock %}