*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* --- */

html {
  font-size: 2vh;
}

body {
  font-family: sans-serif;
}

/* --- */

#container {
  height: 100vh;

  padding: 1rem;

  background-color: blanchedalmond;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}

/* --- */

header {
  height: 5rem;
  width: 100%;

  padding: 0 0.5rem;

  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: solid 0.1rem white;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- */

.brand-logo {
  padding: 0 1rem;
  margin-right: 1rem;

  color: tomato;
  text-decoration: none;

  background-color: bisque;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo:hover {
  color: goldenrod;

  background-color: brown;
}

.brand-logo i {
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

/* --- */

.brand-name {
  color: bisque;
  font-size: 3rem;
  font-variant: small-caps;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

/* --- */

.account > i {
  /* margin-left: auto; */

  color: white;
  font-size: 3rem;
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);

  /* cursor: pointer; */

  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}

.account > i:hover {
  color: gold;
}

/* --- */

.account .user {
  color: white;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);

  cursor: default;

  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.account .user > i {
  color: tomato;
}

.account .user-name {
  margin-top: 0.3rem;
  padding: 0 0.3rem;

  font-size: 0.9rem;
  font-weight: 100;
}

/* --- */

main {
}

/* --- */

h1 {
  margin: 1rem;

  color: tomato;
  font-size: 3rem;
  font-variant: small-caps;
  font-weight: 100;
  font-weight: 900;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
}

/* --- */

nav {
  width: 100%;

  padding: 0 0.5rem;

  /* background-color: darkgoldenrod; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  height: 4rem;
  width: 15rem;

  margin: 1rem;

  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.8);

  background-color: burlywood;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  color: gold;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

nav a:active {
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0);
}

/* --- */
